<!-- _navbar.ejs -->

<nav class="flex items-center justify-between p-4 bg-white border-b-2">
  <div class="flex items-center">
    <!-- Title -->
    <h1 class="text-black text-lg font-semibold">Swift-Post</h1>
  </div>

  <div class="flex items-center space-x-4">
    <!-- Profile Image -->
    <a href="/profile">
      <img
        src="https://i.pinimg.com/236x/5e/75/4d/5e754dcdb067c149bc7567627dbb5abe.jpg"
        alt="Profile Image"
        class="rounded-full w-10 aspect-square"
      />
    </a>

    <!-- Explore Button -->
    <a
      href="/explore"
      class="text-white bg-black px-5 py-2 rounded-2xl hover:text-gray-300 transition duration-300"
      >Explore</a
    >
  </div>
</nav>
