<main class="h-screen w-full p-8">
  <div class="w-full">
    <div class="flex flex-col">
      <div class="flex justify-start items-center gap-14 w-full">
        <img
          src="https://i.pinimg.com/236x/9e/99/4d/9e994d3e98d7dae5fe766a7e5d7c57df.jpg"
          alt="Profile Image"
          class="rounded-full object-center"
        />
        <div class="my-10 flex flex-col items-start w-full ">
          <h1 class="text-3xl font-bold ">Md Mosabbir Hossain Khan</h1>
            <p class="text-gray-600">@Mosabbir</p>
            <div class="flex justify-center mt-7">
              <span class="mr-4">Followers: 1.4k</span>
              <span class="mr-4">Following: 233</span>
              <span>Badges: 2</span>
            </div>
            <div class="flex justify-center mt-10 w-72">
              <button class="bg-blue-500 text-white px-4 py-2 rounded-full mr-2 w-full">Edit</button>
              <button class="bg-red-500 text-white px-4 py-2 rounded-full w-full">Delete</button>
            </div>
        </div>
      </div>

      <div>
        <h2 class="text-xl text-center font-bold mt-4 border-b-4">Posts</h2>
      </div>
    </div>
  </div>
</main>
