<main class="flex justify-center items-center h-screen w-full p-8">
  <div class="border-4 w-[472px] rounded-3xl px-7 py-9">
    <h1 class="text-center font-poppins font-bold text-4xl pb-8">Swift-Post</h1>

    <form
      action="/register"
      method="post"
      class="flex flex-col items-start gap-4"
    >
      <div class="input-auth">
        <label for="first_name" class="label-auth">First name:</label>
        <input
          class="auth"
          type="text"
          name="first_name"
          id="first_name"
          autocomplete="name"
        />
      </div>
      <div class="input-auth">
        <label for="last_name" class="label-auth">Last name:</label>
        <input
          class="auth"
          type="text"
          name="last_name"
          id="last_name"
          autocomplete="family-name"
        />
      </div>
      <div class="input-auth">
        <label for="username" class="label-auth"> Username:</label>
        <input
          class="auth"
          type="text"
          name="username"
          id="username"
          autocomplete="username"
        />
      </div>
      <div class="input-auth">
        <label for="email" class="label-auth">Email :</label>
        <input
          class="auth"
          type="email"
          name="email"
          id="email"
          autocomplete="email"
        />
      </div>
      <div class="input-auth">
        <label for="password" class="label-auth">Password:</label>
        <input class="auth" type="password" name="password" id="password" />
      </div>
      <div class="input-auth">
        <label for="passwordconfirm" class="label-auth"
          >Confirm Password:</label
        >
        <input
          class="auth"
          type="password"
          name="passwordconfirm"
          id="passwordconfirm"
        />
      </div>
      <button
        type="submit"
        class="mx-auto bg-white text-green-600 border-2 border-green-700 rounded-xl px-11 py-3 text-3xl"
      >
        Sign-up
      </button>
    </form>
  </div>
</main>
